BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 100

IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 4
UseTab: Never
AccessModifierOffset: -2
IndentCaseLabels: false
NamespaceIndentation: None

BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false

PointerAlignment: Right
ReferenceAlignment: Right

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 2
    SortPriority: 2
  - Regex: '^".*"'
    Priority: 3
    SortPriority: 3
IncludeIsMainRegex: '$'
SortIncludes: CaseInsensitive

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline

AlignAfterOpenBracket: AlwaysBreak
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInParentheses: false

FixNamespaceComments: true
CompactNamespaces: false

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

ConstructorInitializerIndentWidth: 0
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: NextLine
